<div class="wrapper wrapper-content animated fadeInRight">
  <%= link_to new_event_path, class: 'btn btn-primary pull-right' do %>
      <i class="fa fa-plus"></i> Add New Event
  <% end %>
  <h1 class="title">Events</h1>
  <table class="table table-striped table-bordered table-hover dataTables-example">
    <thead>
    <tr>
      <th>Event</th>
      <th>Location</th>
      <th>Starting</th>
      <th>Ending</th>
      <th>Force Strength</th>
      <th></th>
      <th>Created By</th>
    </tr>
    </thead>
    <tbody>
    <% @events.each do |event| %>
        <tr class="gradeX">
          <td><%= event.name %></td>
          <td><%= event.location %></td>
          <td><%= event.start %></td>
          <td><%= event.end %></td>
          <td><%= event.total_needed %></td>
          <td class="center">
            <button class="btn btn-xs">Sign Up</button>
          </td>
          <td><%= event.user.display_name %></td>
        </tr>
    <% end %>
    </table>
</div>