<div class="middle-box text-center loginscreen  animated fadeInDown">
  <div>
    <div>
      <h1 class="logo-name">NSR</h1>
    </div>

    <h2>Talon Command</h2>
    <!--<h3>Non Standard Response Solutions LLC</h3>-->
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <%= f.input :email, required: false, autofocus: true,
                      input_html: {class: 'form-control'}, placeholder: 'Email',
                      label: false
          %>
        </div>
        <div class="form-group">
          <%= f.input :password, required: false,
                      input_html: {class: 'form-control'}, placeholder: 'Password',
                      label: false
          %>

        </div>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        <div class="form-actions">
          <%= f.button :submit, 'Login', class: 'btn btn-primary block full-width m-b' %>
        </div>
        <a href="#">
          <small>Forgot password?</small>
        </a>
        <p class="text-muted text-center">
          <small>Do not have an account?</small>
        </p>
        <a class="btn btn-sm btn-white btn-block">Create an account</a>
    <% end %>
  </div>
</div>
