<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Non Standard Response Solutions LLC</title>

  <!-- Main css styles -->
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

  <!-- Main javascript files -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body class="mini-navbar">

<!-- Wrapper-->
<div id="wrapper">
  <%= render 'layouts/navigation' %>
  <div id="page-wrapper" class="gray-bg">
    <%= render 'layouts/topnavbar' %>
    <%= flash_messages %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </div>

</div>


</body>
</html>
